<div class="fixed top-0 left-0 flex min-w-full min-h-screen">
    <div id="sidebar" class="min-h-screen bg-firstColor transition-width duration-300 {{w}} flex-shrink-0 flex flex-col justify-between sidebar-transition">
        <div class="mt-10 mx-auto">
            <img src="../../../assets/resources/User Photo.png" class="mx-auto w-14" alt="">
            @if (view) {
                <p class="font-medium min_oculy:text-xl text-sm text-white" >Nombre de Usuario</p>
            }
        </div>
        <div class="mb-4 mx-auto">
            <a href="" class="my-6 flex" (mouseover)="location = 'Location Icon.png'" (mouseout)="location = 'Location IconWhite.png'">
                <img src="../../../assets/resources/{{location}}" class="w-6 mx-5" alt="">
                @if (view) {
                    <p class="font-medium min_oculy:text-xl text-sm text-white hover:text-secondColor my-auto" >Reservar Parqueadero</p>
                }
            </a>
            <a href="" class="my-6 flex" (mouseover)="car = 'CarIconYellow.png'" (mouseout)="car = 'CarIcon.png'">
                <img src="../../../assets/resources/{{car}}" class="w-8 mx-4" alt="">
                @if (view) {
                    <p class="font-medium min_oculy:text-xl text-sm text-white hover:text-secondColor my-auto" >Mis Reservas</p>
                }
            </a>
            <a href="" class="my-6 flex" (mouseover)="histo = 'HistorialIconYellow.png'" (mouseout)="histo = 'HistorialIcon.png'">
                <img src="../../../assets/resources/{{histo}}" class="w-8 mx-4" alt="">
                @if (view) {
                    <p class="font-medium min_oculy:text-xl text-sm text-white hover:text-secondColor my-auto" >Historial</p>
                }
            </a>
            <a href="" class="my-6 flex" (mouseover)="data = 'DataIconYellow.png'" (mouseout)="data = 'DataIcon.png'">
                <img src="../../../assets/resources/{{data}}" class="w-8 mx-4" alt="">
                @if (view) {
                    <p class="font-medium min_oculy:text-xl text-sm text-white hover:text-secondColor my-auto" >Mis Datos</p>
                }
            </a>
            <a href="" class="my-6 flex" (mouseover)="log = 'LogOutIconYellow.png'" (mouseout)="log = 'LogOutIcon.png'">
                <img src="../../../assets/resources/{{log}}" class="w-8 mx-4" alt="">
                @if (view) {
                    <p class="font-medium min_oculy:text-xl text-sm text-white hover:text-secondColor my-auto" >Cerrar Sesión</p>
                }
            </a>
        </div>
        <div class="mx-auto">
            <img src="../../../assets/resources/Logo/{{logo}}" class="{{logoStyle}}" alt="">    
            <img src="../../../assets/resources/{{arrow}}" class="w-12 my-10 mx-auto" (click)="view = !view" alt="">
        </div>
    </div>
    <img src="../../../assets/resources/formas.png" class="min_oculy:block hidden fixed bottom-6 right-4 w-7" alt="">
    <div class="w-full h-auto pb-3 min_oculy:m-10 m-2 flex flex-col">
        <section class="w-full grid min_oculy:grid-cols-3 gap-7 min_oculy:p-6 p-4 bg-white rounded-xl shadow-md shadow-black align-middle">
            <p class="min_oculy:text-3xl m-auto text-center w-full text-xl font-impact">Encuentra tu estacionamiento ideal:</p>
            <app-search-bar class="w-full m-auto"></app-search-bar>
            <fieldset class="relative m-auto w-full">
                <legend class="text-firstColor bg-white text-base font-medium absolute left-2">Ciudad:</legend>
                <img src="../../../assets/resources/Location IconMorado.png" class="w-6 absolute top-5 left-2" alt="">
                <select class="w-full mt-3 h-12 border-2 rounded-2xl text-lg text-firstColor font-medium border-firstColor pl-10" name="" id="">
                    <option value="" selected> Seleccionar</option>
                </select>
            </fieldset>
        </section>
        <section class="w-full h-full flex min_oculy:flex-row flex-col min_oculy:mt-10 mt-2">
            <section class="min_oculy:w-4/5 w-full h-full bg-white rounded-xl shadow-md shadow-black p-4 relative">
                <app-map-screen></app-map-screen>
            </section>
            <section class="min_oculy:w-3/12 min_oculy:mt-0 mt-2 w-full min_oculy:h-full h-1/3 rounded-xl bg-white shadow-md shadow-black min_oculy:ml-10 ml-0 p-2">
                <p class="min_oculy:text-3xl m-auto text-center font-impact">Lista de Parqueaderos</p>
            </section>
        </section>
    </div>
</div>
