.h-inh {
    height: inherit;
}

@media (max-width: 800px) {
    .max-screen {
        position: fixed;
    }
}

.scroll-view::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-view::-webkit-scrollbar:vertical {
    width: 0px;
}