<div class="lg:w-1/3 w-5/6 border-2 border-firtsColor m-auto overflow-hidden rounded-4xl flex flex-col">
    <section class="w-full bg-firtsColor bg-opacity-20 flex border-b-2 border-firtsColor">
        <button class="w-full my-2 py-3 border-r-2 border-firtsColor font-medium lg:text-3xl text-xl"><b>Iniciar sesión</b></button>
        <button class="w-full my-2 py-3 font-medium lg:text-3xl text-xl"><b>Registrarse</b></button>
    </section>
    <section class="w-full h-1/2 py-10 px-5">
        <form action="">
            <label for="" class="font-medium text-2xl">Correo electrónico:</label>
        <div class="relative my-4">
            <input type="text" class="w-full rounded-3xl py-4 pr-10 pl-5 font-medium" name="" id="">
            <img src="../../../assets/resources/EmailIcon.png"
            class="absolute right-3 top-3 h-8 w-10"
            alt="">
        </div>
        <label for="" class="font-medium text-2xl">Contraseña:</label>
        <div class="relative my-4">
            <input type="password" class="w-full rounded-3xl py-4 pr-10 pl-5 font-medium" name="" id="">
            <img src="../../../assets/resources/PWIcon.png"
            class="absolute right-4 top-2 h-10 w-8"
            alt="">
        </div>
        <div class="flex justify-center">
            <button class="bg-secondColor mt-2 text-xl px-5 py-3 border rounded-full font-bold hover:bg-firtsColor">Iniciar sesión</button>
        </div>
        </form>
    </section>
</div>
