<div class="w-full min-h-screen relative flex items-center justify-center">
    <div (click)="ocult()" class="w-full min-h-screen absolute bg-black opacity-30" style="z-index: 60;"></div>
    <div class="absolute m-auto bg-white rounded-xl min_oculy:w-1/2 w-11/12" style="z-index: 70;">
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b-4 border-firstColor rounded-t">
                <h3 class="text-4xl font-bold text-firstColor">
                    @if (customer.showUpdateData) {Actualizar datos} 
                    @if (customer.showUpdatePassword) {Actualizar contraseña}
                    @if (customer.showAddCard) {Añadir tarjeta}
                </h3>
                <button (click)="ocult()" type="button"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-base w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            @if (customer.showUpdateData) {
                <form class="p-4 md:p-5" novalidate [formGroup]="formData">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Primer Nombre</label>
                            <input type="text" formControlName="firstName"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Primer Nombre">
                                @if (authenticate.setError(formData.value.firstName, '') !== '' && formData.value.firstName !== '') {
                                    <p class="font-medium my-1 text-red-700" [innerHTML]="authenticate.setError(formData.value.firstName, '')"></p>
                                }
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Segundo Nombre</label>
                            <input type="text" formControlName="secondName"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Segundo Nombre">
                                @if (authenticate.setError(formData.value.secondName, '') !== '' && formData.value.secondName !== '') {
                                    <p class="font-medium my-1 text-red-700" [innerHTML]="authenticate.setError(formData.value.secondName, '')"></p>
                                }
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Primer Apellido</label>
                            <input type="text" formControlName="firstLastName"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Primer Apellido">
                                @if (authenticate.setError(formData.value.firstLastName, '') !== '' && formData.value.firstLastName !== '') {
                                    <p class="font-medium my-1 text-red-700" [innerHTML]="authenticate.setError(formData.value.firstLastName, '')"></p>
                                }
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Segundo Apellido</label>
                            <input type="text" formControlName="secondLastName"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Segundo Apellido">
                                @if (authenticate.setError(formData.value.secondLastName, '') !== '' && formData.value.secondLastName !== '') {
                                    <p class="font-medium my-1 text-red-700" [innerHTML]="authenticate.setError(formData.value.secondLastName, '')"></p>
                                }
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">N° Celular</label>
                            <input type="text" inputmode="numeric" pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" formControlName="numberCell"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="N° Celular">
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Email</label>
                            <input type="email" formControlName="email"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Emali">
                                @if (authenticate.setError(formData.value.email, 'e', formData.get('email')?.hasError('email')) !== '' && formData.value.email !== '') {
                                    <p class="font-medium my-1 text-red-700" [innerHTML]="authenticate.setError(formData.value.email, 'e', formData.get('email')?.hasError('email'))"></p>
                                }
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="min_oculy:flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                        <button
                            [disabled]="!formData.valid"
                            (click)="sendInfoUser()"
                            class="text-white bg-firstColor hover:opacity-85 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center">
                            Actualizar Datos
                        </button>
                        <button (click)="ocult()"
                            class="py-2.5 px-5 ms-3 text-base font-medium text-gray-900 focus:outline-none bg-white hover:bg-gray-300 rounded-lg border border-gray-200">
                            Cancelar
                        </button>
                        @if (errorMessage !== [] || errorMessage !== undefined || !formData.valid) {
                            <div class="min_oculy:ml-10 min_oculy:mt-0 mt-5 text-base text-red-700">
                                @if (!formData.valid) {Datos Incompletos. <br>}
                                @for (men of errorMessage; track $index) { {{men}} <br> }
                            </div>
                        } 
                        @if (succes) {
                            <div class="min_oculy:ml-10 min_oculy:mt-0 mt-5 text-base text-green-500">
                                Guardada con éxito.
                            </div>
                        }
                    </div>
                </form>
            }
            @if (customer.showUpdatePassword) {
                <form class="p-4 md:p-5" novalidate [formGroup]="formPassword">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Contraseña Nueva</label>
                            <input type="password" formControlName="password"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Contraseña Nueva">
                                @if (authenticate.setError(formPassword.value.password, 'p') !== '' && formPassword.value.password !== '') {
                                    <p class="font-medium my-1 text-red-700" [innerHTML]="authenticate.setError(formPassword.value.password, 'p')"></p>
                                }
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Confirme Contraseña</label>
                            <input type="password" formControlName="passwordConfirm"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Confirme Contraseña">
                                @if (formPassword.value.password != formPassword.value.passwordConfirm && formPassword.value.passwordConfirm !== '') {
                                    <p class="font-medium my-1 text-red-700">Las contraseñas no coinciden</p>
                                }
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="min_oculy:flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                        <button
                            [disabled]="!formPassword.valid"
                            (click)="sendPassword()"
                            class="text-white bg-firstColor hover:opacity-85 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center">
                            Actualizar Contraseña
                        </button>
                        <button (click)="ocult()"
                            class="py-2.5 px-5 ms-3 text-base font-medium text-gray-900 focus:outline-none bg-white hover:bg-gray-300 rounded-lg border border-gray-200">
                            Cancelar
                        </button>
                        @if (errorMessage !== [] || errorMessage !== undefined || !formPassword.valid) {
                            <div class="min_oculy:ml-10 min_oculy:mt-0 mt-5 text-base text-red-700">
                                @if (!formPassword.valid) {Datos Incompletos. <br>}
                                @for (men of errorMessage; track $index) { {{men}} <br> }
                            </div>
                        } 
                        @if (succes) {
                            <div class="min_oculy:ml-10 min_oculy:mt-0 mt-5 text-base text-green-500">
                                Guardada con éxito.
                            </div>
                        }
                    </div>
                </form>
            }
            @if (customer.showAddCard) {
                <form class="p-4 md:p-5" novalidate [formGroup]="formCard">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Nombre del propietario</label>
                            <input type="text" formControlName="nameProp"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Nombre del propietario">
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Número de tarjeta</label>
                            <input type="text" inputmode="numeric" pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" formControlName="numberCard"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Número de tarjeta">
                        </div>
                        <div>
                            <label for="name" class="block mb-2 text-base font-medium text-gray-900">Fecha de vencimiento</label>
                            <input type="date" formControlName="dateExpiration"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Type product name" required="">
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">CSV</label>
                            <input type="text" inputmode="numeric" pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '');" formControlName="csv"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="CSV">
                        </div>
                        <div>
                            <label for="category"
                                class="block mb-2 text-base font-medium text-gray-900">Tipo de Tajeta</label>
                            <select id="category" formControlName="typeCard" (change)="selectTypeCard($event)"
                                class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                                <option class="text-center text-base font-medium" value="3">American Express</option>
                                <option class="text-center text-base font-medium" value="4">Visa</option>
                                <option class="text-center text-base font-medium" value="5">Mastercard</option>
                                <option class="text-center text-base font-medium" value="6">Discover</option>
                            </select>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="min_oculy:flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                        <button
                            [disabled]="!formCard.valid"
                            (click)="sendCard()"
                            class="text-white bg-firstColor hover:opacity-85 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center">
                            Guardar tarjeta
                        </button>
                        <button (click)="ocult()"
                            class="py-2.5 px-5 ms-3 text-base font-medium text-gray-900 focus:outline-none bg-white hover:bg-gray-300 rounded-lg border border-gray-200">
                            Cancelar
                        </button>
                        @if (errorMessage !== [] || errorMessage !== undefined || !formCard.valid) {
                            <div class="min_oculy:ml-10 min_oculy:mt-0 mt-5 text-base text-red-700">
                                @if (!formCard.valid) {Datos Incompletos. <br>}
                                @for (men of errorMessage; track $index) { {{men}} <br> }
                            </div>
                        } 
                        @if (succes) {
                            <div class="min_oculy:ml-10 min_oculy:mt-0 mt-5 text-base text-green-500">
                                Guardada con éxito.
                            </div>
                        }
                    </div>
                </form>
            }
        </div>
    </div>
</div>