<div class="w-full min-h-screen relative flex items-center justify-center">
    <div (click)="managerState.showModalAdmin = false" class="w-full min-h-screen absolute bg-black opacity-30"
        style="z-index: 60;"></div>
    <div class="absolute m-auto bg-white rounded-xl min_oculy:w-1/2 w-11/12" style="z-index: 70;">
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex p-4 md:p-5 border-b-4 border-firstColor rounded-t">
                <h3 class="text-4xl font-bold text-firstColor">
                    Administrar
                </h3>
                <button (click)="managerState.showModalAdmin = false" type="button"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-base w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form class="p-4 md:p-5" novalidate [formGroup]="formAdmin">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="relative col-span-2">
                        <label class="block mb-2 text-base font-medium text-gray-900">Nombre</label>
                        <img class="absolute left-2 top-11 w-7" src="../../../../assets/resources/Recurso 22.png"
                            alt="">
                        <input type="text" formControlName="name"
                            class="pl-10 bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Tarifa">
                    </div>
                    <div class="relative col-span-2">
                        <label class="block mb-2 text-base font-medium text-gray-900">Dirección</label>
                        <img class="absolute left-2 top-11 w-6" src="../../../../assets/resources/address-svgrepo-com.svg"
                            alt="">
                        <input type="text" formControlName="address"
                            class="pl-10 bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Dirección">
                            @if(checkAddress()) {
                                <p class="text-base text-red-600 col-span-2">La Dirección ya esta asignada a un parquedero de la ciudad</p>
                            }
                    </div>
                    <div class="relative">
                        <label class="block mb-2 text-base font-medium text-gray-900">Latitud</label>
                        <img class="absolute left-2 top-11 w-6" src="../../../../assets/resources/ecuador.png"
                            alt="">
                        <input type="number" formControlName="latitude"
                            class="pl-10 bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Latitud">
                    </div>
                    <div class="relative">
                        <label class="block mb-2 text-base font-medium text-gray-900">Longitud</label>
                        <img class="absolute left-2 top-11 w-6" src="../../../../assets/resources/ecuador.png"
                            alt="">
                        <input type="number" formControlName="longitude"
                            class="pl-10 bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Longitud">
                    </div>
                </div>
                @if(checkLatLong()) {
                    <p class="text-base text-red-600 col-span-2">La latitud y longitud ya estan vinculadas a un parquedaero</p>
                }
                <!-- Modal footer -->
                <div class="min_oculy:flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                    <button [disabled]="!formAdmin.valid" (click)="sendData()"
                        class="text-white bg-firstColor hover:opacity-85 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center">
                        Actualizar parqueadero
                    </button>
                    <button (click)="managerState.showModalAdmin = false"
                        class="py-2.5 px-5 ms-3 text-base font-medium text-gray-900 focus:outline-none bg-white hover:bg-gray-300 rounded-lg border border-gray-200">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
