<app-nar-bar class="min_oculy:mb-5 mb-36 flex justify-center items-center"></app-nar-bar>
<p class="w-full text-center font-impact text-5xl">NUESTROS SERVICIOS</p>
<div class="w-full min_oculy:px-20 px-2 min_oculy:mt-0 mt-24 lg:flex lg:flex-row flex-col">
    <section class="min_oculy:w-1/4 p-4 m-4 flex flex-col border-2 border-firstColor rounded-2xl overflow-hidden">
        <img class="h-28 mx-auto my-5" src="../../../../assets/resources/Services1.png" alt="">
        <p class="w-full my-2 text-2xl font-bold text-center">PARQUEADEROS</p>
        <p class="w-full my-2 break-words text-base mb-20">
            Nuestra aplicación web te permite reservar paqueaderos de manera rápida y conveniente
            en múltiples ubicaciones en Colombia.
        </p>
    </section>
    <section class="min_oculy:w-1/4 p-4 m-4 flex flex-col border-2 border-firstColor rounded-2xl overflow-hidden">
        <img class="h-28 mx-auto my-5" src="../../../../assets/resources/Services2.png" alt="">
        <p class="w-full my-2 text-2xl font-bold text-center">DISTINTOS TIPOS</p>
        <p class="w-full my-2 break-words text-base mb-20">
            Parqueaderos bajo techo ideales para proteger tus vehículos de la lluvia y el sol, o bien parqueaderos 
            al aire libre. Disponibilidad para diferentes tipos de medios de transporte.
        </p>
    </section>
    <section class="min_oculy:w-1/4 p-4 m-4 flex flex-col border-2 border-firstColor rounded-2xl overflow-hidden">
        <img class="h-28 mx-auto my-5" src="../../../../assets/resources/Services3.png" alt="">
        <p class="w-full my-2 text-2xl font-bold text-center">HORARIOS</p>
        <p class="w-full my-2 break-words text-base mb-20">
            Horarios de apertura y cierre flexibles, con disponibilidad de servicio 24 horas, cerca a los puntos de interes de la ciudad.
        </p>
    </section>
    <section class="min_oculy:w-1/4 p-4 m-4 flex flex-col border-2 border-firstColor rounded-2xl overflow-hidden">
        <img class="h-28 mx-auto my-5" src="../../../../assets/resources/Services4.png" alt="">
        <p class="w-full my-2 text-2xl font-bold text-center">MÁS SERVICIOS</p>
        <p class="w-full my-2 break-words text-base mb-20">
            Descuentos por fidelización en algunas de nuestras sedes, facibilidad al realizar la reserva anticipada 
            de un parqueadero en línea mediante la página web.
        </p>
    </section>
</div>