<div class="w-full min-h-screen relative flex items-center justify-center">
    <div (click)="managerState.showModalEdit = false" class="w-full min-h-screen absolute bg-black opacity-30"
        style="z-index: 60;"></div>
    <div class="absolute m-auto bg-white rounded-xl min_oculy:w-1/2 w-11/12" style="z-index: 70;">
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex flex-col p-4 md:p-5 border-b-4 border-firstColor rounded-t">
                <h3 class="text-4xl font-bold text-firstColor">
                    Editar
                </h3>
                <p class="font-medium text-base text-gray-600">(Los cambios se aplicarán a los parqueaderos
                    seleccionados.)</p>
                <button (click)="managerState.showModalEdit = false" type="button"
                    class="absolute right-2 top-2 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-base w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form class="p-4 md:p-5" novalidate [formGroup]="formEdit">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="relative">
                        <label class="block mb-2 text-base font-medium text-gray-900">Tarifa</label>
                        <img class="absolute left-2 top-10 w-3" src="../../../../assets/resources/Recurso 20.png"
                            alt="">
                        <input type="text" inputmode="numeric" pattern="[0-9]*"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');" formControlName="fee"
                            class="pl-10 bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Tarifa">
                    </div>
                    <div class="relative">
                        <label class="block mb-2 text-base font-medium text-gray-900">Capacidad</label>
                        <img class="absolute left-2 top-11 w-7" src="../../../../assets/resources/Recurso 22.png"
                            alt="">
                        <input type="text" inputmode="numeric" pattern="[0-9]*"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');" formControlName="capacity"
                            class="pl-10 bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Capacidad">
                    </div>
                    <div class="relative col-span-2">
                        <label class="block mb-2 text-base font-medium text-gray-900">Características</label>
                        <img class="absolute left-2 top-10 w-6" src="../../../../assets/resources/Recurso 31.png"
                            alt="">
                        <select id="category" formControlName="characteristics"
                            class="bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5">
                            <option class="text-center text-base font-medium" value="A">Abierto</option>
                            <option class="text-center text-base font-medium" value="S">Semiabierto</option>
                            <option class="text-center text-base font-medium" value="T">Techado</option>
                        </select>
                    </div>
                    <div>
                        <label class="block mb-2 text-base font-medium text-gray-900">Hora de
                            Apertura</label>
                        <div class="flex">
                            <div class="min_oculy:w-1/3 w-1/2 relative">
                                <img class="absolute left-2 top-3 w-6" src="../../../../assets/resources/Recurso 23.png"
                                    alt="">
                                <select id="category" formControlName="horaAper"
                                    class="pl-10 w-full scroll-view text-base font-medium bg-gray-50 border border-firstColor text-gray-900 rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
                                    @for (number of horas; track $index) {
                                    <option class="text-base font-medium" value="{{number}}">{{number}}
                                    </option>
                                    }
                                </select>
                            </div>
                            <p class="my-auto mx-2">:</p>
                            <div class="min_oculy:w-1/3 w-1/2 relative">
                                <img class="absolute left-2 top-3 w-6" src="../../../../assets/resources/Recurso 23.png"
                                    alt="">
                                <select id="category" formControlName="minAper"
                                    class="pl-10 w-full scroll-view bg-gray-50 border border-firstColor text-gray-900 rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
                                    @for (number of minutos; track $index) {
                                    <option class="text-base font-medium" value="{{number}}">{{number}}
                                    </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="block mb-2 text-base font-medium text-gray-900">Hora de
                            Cierre</label>
                        <div class="flex">
                            <div class="min_oculy:w-1/3 w-1/2 relative">
                                <img class="absolute left-2 top-3 w-6" src="../../../../assets/resources/Recurso 27.png"
                                    alt="">
                                <select id="category" formControlName="horaCier"
                                    class="pl-10 w-full scroll-view bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
                                    @for (number of horas; track $index) {
                                    <option class="text-base font-medium" value="{{number}}">{{number}}
                                    </option>
                                    }
                                </select>
                            </div>
                            <p class="my-auto mx-2">:</p>
                            <div class="min_oculy:w-1/3 w-1/2 relative">
                                <img class="absolute left-2 top-3 w-6" src="../../../../assets/resources/Recurso 27.png"
                                    alt="">
                                <select id="category" formControlName="minCier"
                                    class="pl-10 w-full scroll-view bg-gray-50 border border-firstColor text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5">
                                    @for (number of minutos; track $index) {
                                    <option class="text-base font-medium" value="{{number}}">{{number}}
                                    </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <input class="w-6 mr-5 rounded-sm border border-black appearance-none outline-firstColor checked:bg-firstColor" type="checkbox">
                        <label class="block my-auto text-base font-medium text-gray-900">24 Horas</label>
                    </div>
                    <div class="flex"> 
                        <input class="w-6 mr-5 rounded-sm border border-black appearance-none outline-firstColor checked:bg-firstColor" type="checkbox">
                        <label class="block my-auto text-base font-medium text-gray-900">Fidelización</label>
                    </div>
                </div>
                <p class="font-medium pb-2 text-base text-gray-600">(No se modificarán los datos vacíos.)</p>
                <!-- Modal footer -->
                <div class="min_oculy:flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                    <button [disabled]="!formEdit.valid"
                        class="text-white bg-firstColor hover:opacity-85 focus:ring-4 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center">
                        Actualizar parqueaderos
                    </button>
                    <button (click)="managerState.showModalEdit = false"
                        class="py-2.5 px-5 ms-3 text-base font-medium text-gray-900 focus:outline-none bg-white hover:bg-gray-300 rounded-lg border border-gray-200">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>