@if (managerState.showModalEdit) {
<app-edit-parks class="min-w-full min-h-screen absolute top-0 left-0"></app-edit-parks>
}

<div class="max-screen w-full top-0 min-h-screen left-0 flex">
    <app-sidebar class="min-h-screen"></app-sidebar>
    <div class="w-full max-h-screen min_oculy:p-20 p-5 flex flex-col">

        <p class="font-impact min_oculy:text-6xl text-3xl min_oculy:mb-10 mb-2">
            Parqueaderos registrados
        </p>
        <div class="flex flex-row  h-1/6 w-full ">
            <p class="font-bold min_oculy:text-3xl text-xl">Ciudad: Bogotá</p>
            <button
                (click)="managerState.showModalEdit = true"
                class="bg-firstColor font-bold text-secondColor text-3xl w-56 h-12 rounded-3xl hover:bg-black ml-auto">
                Editar
            </button>
        </div>
        <div class="relative w-full h-full overflow-scroll scroll-view  min_oculy:mt-10 mt-2 ">
            <div class="absolute w-full h-full ">
                @if (parkings !== undefined) {
                    <table class="w-full h-full">
                        <thead class="bg-firstColor bg-opacity-30">
                            <tr class="text-firstColor font-bold min_oculy:text-3xl text-xl">
                                <th class="p-3 border border-firstColor"></th>
                                <th class="p-3 border border-firstColor">Código</th>
                                <th class="p-3 border border-firstColor">Parqueadero</th>
                                <th class="p-3 border border-firstColor">Dirección</th>
                                <th class="p-3 border border-firstColor ">Administrar</th>
                                <th class="p-3 border border-firstColor ">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="min_oculy:text-xl text-lg">
                            @for (item of parkings; track $index) {
                            <tr class="font-bold text-center">
                                <td class="border border-firstColor">
                                    <input type="checkbox"
                                        (click)="fillPark(item)"
                                        class="appearance-none w-4 h-4 bg-white border-firstColor outline-firstColor checked:bg-firstColor accent-firstColor" />
                                </td>
                                <td class="border border-firstColor">{{item.codParqueadero}}</td>
                                <td class="border border-firstColor">{{item.nombre}}</td>
                                <td class="border border-firstColor">{{item.direccion}}</td>
                                <td class="border border-firstColor h-1 w-1 ">
                                    <button class="bg-firstColor flex mx-auto justify-center w-2/6 rounded-3xl p-2 hover:bg-black">
                                        <svg class="w-10" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path
                                                    d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                                                    stroke="#F8DE22" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                                <path
                                                    d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                                                    stroke="#F8DE22" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </td>
                                <td class="border border-firstColor">
                                    <button
                                        class="bg-firstColor flex mx-auto justify-center w-2/6 rounded-3xl p-1 hover:bg-black">
                                        <img class="h-12 w-12 p-2" src="../../../../assets/resources/Recurso 30.png"
                                            alt="" />
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                } @else {
                    <p class="text-xl font-bold text-green-500">Cargando Parqueaderos</p>
                }
            </div>
        </div>
    </div>
</div>