<div class="max-screen w-full top-0 min-h-screen left-0 flex">
    <app-sidebar class="min-h-screen"></app-sidebar>
    <div class="w-full max-h-screen min_oculy:p-20 p-5 flex flex-col">
        
        <p class="font-impact min_oculy:text-6xl text-3xl min_oculy:mb-10 mb-2">
            Usuarios bloqueados
        </p>
        <div class="relative w-full h-full overflow-scroll scroll-view  min_oculy:mt-10 mt-2 ">
            <div class="absolute w-full h-full ">
                <table class="w-full h-full">
                    <thead class="bg-firstColor bg-opacity-30">
                        <tr class="text-firstColor font-bold min_oculy:text-3xl text-xl">
                            <th class="p-3 border border-firstColor">Tipo</th>
                            <th class="p-3 border border-firstColor">Identificación</th>
                            <th class="p-3 border border-firstColor">Nombre</th>
                            <th class="p-3 border border-firstColor ">Correo electronico</th>
                            <th class="p-3 border border-firstColor ">Activar</th>
                        </tr>
                    </thead>
                    <tbody class="min_oculy:text-xl text-lg">
                        @if (usersLock.length != 0) {
                            @for (item of usersLock; track $index) {
                                <tr class="font-bold text-center">
                                    <td class="border border-firstColor">{{item.tipoDoc}}</td>
                                    <td class="border border-firstColor">{{item.numDocumento}}</td>
                                    <td class="border border-firstColor">{{item.nombre}}</td>
                                    <td class="border border-firstColor">{{item.email}}</td>
                                    <td class="border border-firstColor">
                                        <button (click)="unlock(item)" class="bg-firstColor flex mx-auto justify-center w-8/12 rounded-3xl p-1 hover:bg-black">
                                            <img class="min_oculy:w-16 w-10 p-2" src="../../../assets/resources/Recurso 25.png"
                                                alt="" />
                                        </button>
                                    </td>
                                </tr>
                                }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="mt-5 size-2 color bg-firstColor w-full">
        <p class="font-impact min_oculy:text-6xl text-3xl min_oculy:mb-10 mb-2">
            Usuarios
        </p>
        <div class="relative w-full h-full overflow-scroll scroll-view  min_oculy:mt-10 mt-2 ">
            <div class="absolute w-full h-full ">
                <table class="w-full h-full">
                    <thead class="bg-firstColor bg-opacity-30">
                        <tr class="text-firstColor font-bold min_oculy:text-3xl text-xl">
                            <th class="p-3 border border-firstColor">Tipo</th>
                            <th class="p-3 border border-firstColor">Identificación</th>
                            <th class="p-3 border border-firstColor">Nombre</th>
                            <th class="p-3 border border-firstColor ">Correo electronico</th>
                        </tr>
                    </thead>
                    <tbody class="min_oculy:text-xl text-lg">
                        @if (usersNormal.length != 0) {
                            @for (item of usersNormal; track $index) {
                                <tr class="font-bold text-center">
                                    <td class="border border-firstColor">{{item.tipoDoc}}</td>
                                    <td class="border border-firstColor">{{item.numDocumento}}</td>
                                    <td class="border border-firstColor">{{item.nombre}}</td>
                                    <td class="border border-firstColor">{{item.email}}</td>
                                </tr>
                                }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>