<app-nar-bar class="min_oculy:mb-5 mb-36 flex justify-center items-center "></app-nar-bar>
<div class="w-full min_oculy:px-20 px-5 mb-10 min_oculy:mt-0 mt-24">
    <div class="w-full min_oculy:flex">
        <section class="min_oculy:w-1/2 w-full min_oculy:mr-7 break-words">
            <p class="font-impact min_oculy:text-7xl text-5xl mb-10 w-full text-center">SOBRE NOSOTROS</p>
            <p class="font-medium">
                En <b class="text-firstColor">Four Parks Colombia,</b> nos enorgullecemos de ser líderes en la 
                industria de servicios de estacionamiento en Colombia. Con una amplia red de sedes estratégicas ubicadas 
                en todo el país, nos dedicamos a ofrecer soluciones de parqueaderos confiables, seguras y convenientes para nuestros 
                clientes. <br> <br>
                Entendemos que cada cliente es único, por lo que nos esforzamos por ofrecer un servicio personalizado 
                y atención al cliente excepcional. Nuestro equipo dedicado está siempre dispuesto a ayudarte con cualquier consulta 
                o solicitud que puedas tener, garantizando una experiencia si complicaciones desde el momento en que reservas 
                tu espacio de estacionamiento hasta que retiras tu vehículo. <br> <br>
            </p>
            <p class="font-medium opacity-70">
                Nuestra <b class="text-firstColor">misión</b> es proporcionar a nuestros clientes la tranquilidad 
                y la comodidad que necesitan cuando se trata de estacionar sus vehículos. Estamos comprometidos 
                a superar tus expectativas en cada interacción y a convertir cada experiencia de estacionamiento 
                en una experiencia excepcional. <br><br>
                Gracias por elegir a <b class="text-firstColor">Four Parks Colombia,</b> como tu socio de confianza 
                en estacionamiento. Esperamos poder servirte pronto y brindarte una experiencia de estacionamiento 
                inigualable en cada visita.
            </p>
        </section>
        <section class="min_oculy:w-1/2 w-full min_oculy:mt-0 mt-10">
            @defer {
                <img class="w-full h-full" src="../../../../assets/resources/AboutUS.png" alt="">
            }
        </section>
    </div>
</div>