<div class="max-screen w-full top-0 min-h-screen left-0 flex">
    <app-sidebar class="min-h-screen"></app-sidebar>
    <div class="w-full max-h-screen min_oculy:p-20 p-5 flex flex-col">
        <p class="font-impact min_oculy:text-6xl text-3xl min_oculy:mb-10 mb-2">
            Trazabilidad de usuarios
        </p>

        <form novalidate [formGroup]="formFilter"
            class="bg-secondColor p-5 w-full border border-firstColor rounded-3xl  grid grid-rows-2 grid-cols-1 justify-center">
            <div class=" grid grid-cols-7 justify-center items-center">
                <label class="block mb-2 font-medium text-gray-900 mt-4 col-span-2 text-2xl">Nombre de usuario</label>
                <input placeholder="" formControlName="code" (input)="select($event)"
                    class=" bg-secondColor border border-firstColor text-gray-900 col-span-5 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full h-10 p-2.5">
            </div>
            <div class="grid min_oculy:grid-cols-2 grid-cols-1 gap-3 justify-center">
                <div>
                    <label class="block mb-2 text-base font-medium text-gray-900">Fecha inicio</label>
                    <input type="date" formControlName="dateI" (change)="select($event)"
                        class="bg-secondColor border border-firstColor text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full  p-2.5">
                </div>
                <div>
                    <label class="block mb-2 text-base font-medium text-gray-900">Fecha fin</label>
                    <input type="date" formControlName="dateF" (change)="select($event)"
                        class="bg-secondColor border border-firstColor text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                </div>
            </div>
        </form>
        <p class="text-firstColor font-medium text-2xl mt-4">Logs</p>
        <div class="relative w-full h-full overflow-scroll scroll-view  min_oculy:mt-10 mt-2 ">
            <div class="absolute w-full h-full ">
                <table class="w-full h-full">
                    <thead class="bg-firstColor bg-opacity-30">
                        <tr class="text-firstColor font-bold min_oculy:text-3xl text-xl">
                            <th class="p-3 border border-firstColor">Usuario</th>
                            <th class="p-3 border border-firstColor">Mensaje</th>
                            <th class="p-3 border border-firstColor">IP</th>
                            <th class="p-3 border border-firstColor ">Fecha</th>
                        </tr>
                    </thead>
                    <tbody class="min_oculy:text-xl text-lg">
                        @for (item of trasability; track $index) {
                        <tr class="font-bold text-center">
                            <td class="border border-firstColor">{{item.usuario}}</td>
                            <td class="border border-firstColor">{{item.tipo_cambio}}</td>
                            <td class="border border-firstColor">{{item.direccionIP}}</td>
                            <td class="border border-firstColor">{{item.fecha}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>