<div class="min_oculy:mx-auto px-3 my-3 min_oculy:w-2/12 w-4/12 flex justify-center items-center rounded-xl">
    <img class="w-full h-full" src="../../../assets/resources/Logo/lOGOv.svg" alt="">
</div>
<div class="{{changeColorBG}} h-20 my-10 min_oculy:w-3/6 w-full min_oculy:relative absolute min_oculy:top-0 top-16">
    <div class="mx-auto flex justify-between items-center md:px-20 px-5 mt-5">
        <a routerLink="/" (click)="goPrincipalView()"
        class="{{changeColorTX}} min_oculy::text-xl sc:text-2xl font-medium hover:border-b-2 {{changeBorder}}">INICIO</a>
        <a href="#" 
        class="{{changeColorTX}} min_oculy::text-xl sc:text-2xl font-medium hover:border-b-2 {{changeBorder}}">SERVICIOS</a>
        <a href="#" 
        class="{{changeColorTX}} min_oculy::text-xl sc:text-2xl font-medium hover:border-b-2 {{changeBorder}}">NOSOTROS</a>
        <a href="#" 
        class="{{changeColorTX}} min_oculy::text-xl sc:text-2xl font-medium hover:border-b-2 {{changeBorder}}">CONTACTO</a>
    </div>
</div>
@if (!authenticate.getIsLoginShow()) {
    <div class="min_oculy:m-auto ml-20 flex justify-center">
        <a  
            routerLink="/authentication"
            class="bg-secondColor text-xl px-5 py-3 border rounded-full ml-2 font-bold flex justify-center items-center hover:bg-firstColor hover:text-white"
            (click)="goLogin()"
            (mouseover)="over(false)"
            (mouseout)="over(true)"
        >
            <img 
             src="{{img}}"
             class="w-10 mr-2"
             alt="">
            Login
        </a>
    </div>
}

<img src="../../../assets/resources/formas.png" class="fixed bottom-4 left-2 w-7" alt="">