<div class="m-auto h-20 w-1/12 border-2 border-firtsColor flex justify-center items-center rounded-full">
    <h1>IMAGEN LOGO</h1>
</div>
<div class="{{changeColorBG}} h-20 my-10 w-3/6">
    <div class="container mx-auto flex justify-between items-center px-20 mt-5">
        <a routerLink="/" (click)="autheticate.setIsLoginShow(false)"
        class="{{changeColorTX}} text-2xl font-medium hover:border-b-2 {{changeBorder}}">INICIO</a>
        <a href="#" 
        class="{{changeColorTX}} text-2xl font-medium hover:border-b-2 {{changeBorder}}">SERVICIOS</a>
        <a href="#" 
        class="{{changeColorTX}} text-2xl font-medium hover:border-b-2 {{changeBorder}}">NOSOTROS</a>
        <a href="#" 
        class="{{changeColorTX}} text-2xl font-medium hover:border-b-2 {{changeBorder}}">CONTACTO</a>
    </div>
</div>
@if (!autheticate.getIsLoginShow()) {
    <div class="m-auto flex justify-center">
        <a  
            routerLink="/authentication"
            class="bg-secondColor text-xl px-5 py-3 border rounded-full ml-2 font-bold flex justify-center items-center hover:bg-firtsColor"
            (click)="autheticate.setIsLoginShow(true)"
        >
            <img src="../../../assets/resources/Login icon.png"
             class="w-10 mr-2"
             alt="">
            Login
        </a>
    </div>
}

<img src="../../../assets/resources/formas.png" class="absolute bottom-4 left-4 w-7" alt="">