<app-nar-bar class="min_oculy:mb-5 mb-36 flex justify-center items-center "></app-nar-bar>
<div class="w-full min_oculy:mt-0 mt-24 lg:flex lg:flex-row flex-col">
    <img src="../../../assets/resources/Parking.png"
        class="lg:w-1/2 w-full h-auto min_oculy:my-10 my-16 min_oculy:ml-10 ml-0 mr-10"
        alt=""
     >
    <section class="my-auto mr-10">
        <h1 class="font-impact min_oculy:text-7xl text-5xl flex flex-col">
            <b>Bienvenidos a </b>
            <b>
                Four Parks
                <b class="text-secondColor">Colombia</b>
            </b>
        </h1>
        <h1 class="text-firstColor min_oculy:text-6xl text-5xl font-impact">EXPLORA Y ESTACIONA</h1>
        <h2 class="font-medium text-3xl w-5/6 my-5">Con un parqueadero seguro y conveniente justo donde lo necesitas</h2>
        <div class="flex min_oculy:mb-0 mb-10">
            <a 
            routerLink="/services"
            class="bg-secondColor cursor-pointer text-xl px-5 py-3 border rounded-full ml-2 font-bold hover:bg-firstColor hover:text-white">Saber más</a>
            <a 
            routerLink="/authentication"
            class="bg-secondColor cursor-pointer text-xl px-5 py-3 border rounded-full ml-5 font-bold hover:bg-firstColor hover:text-white"
            (click)="goSign()"
            >Registrarse</a>
        </div>
    </section>
</div>
<div class="w-full text-center my-5 flex justify-center">
    <h2 class="font-impact text-5xl w-5/6 my-5 flex justify-center">
        <img src="../../../assets/resources/icons8-abajo.gif" class="my-auto mx-7 w-15 h-15 rounded-full shadow-xl">
        Anuncios
        <img src="../../../assets/resources/icons8-abajo.gif" class="my-auto mx-7 w-15 h-15 rounded-full shadow-xl">
    </h2>
</div>
@defer {
    <div class="w-full min_oculy:flex min_oculy:p-10">
        @for (item of News; track $index) {
            <div class="min_oculy:w-1/5 w-full mx-2 max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full h-3/5" src="{{item.img}}" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">{{item.titulo}}</div>
                  <p class="text-gray-700 text-base">
                    {{item.contenido}}
                  </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                </div>
            </div>
        }
    </div>
}
