<app-nar-bar class="min_oculy:mb-5 mb-10 flex justify-center items-center"></app-nar-bar>
<div class="w-full min_oculy:mt-0 mt-24 lg:flex lg:flex-row flex-col">
    <img src="../../../assets/resources/Parking.png"
        class="lg:w-1/2 w-full h-auto min_oculy:my-10 my-16 min_oculy:ml-10 ml-0 mr-10"
        alt=""
     >
    <section class="my-auto mr-10">
        <h1 class="font-impact min_oculy:text-7xl text-5xl flex flex-col">
            <b>Bienvenidos a </b>
            <b>
                Four Parks
                <b class="text-secondColor">Colombia</b>
            </b>
        </h1>
        <h1 class="text-firstColor min_oculy:text-6xl text-5xl font-impact">EXPLORA Y ESTACIONA</h1>
        <h2 class="font-medium text-3xl w-5/6 my-5">Con un parqueadero seguro y conveniete justo donde lo necesitas</h2>
        <div class="flex min_oculy:mb-0 mb-10">
            <a class="bg-secondColor text-xl px-5 py-3 border rounded-full ml-2 font-bold hover:bg-firstColor hover:text-white">Saber más</a>
            <a 
            routerLink="/authentication"
            class="bg-secondColor text-xl px-5 py-3 border rounded-full ml-5 font-bold hover:bg-firstColor hover:text-white"
            (click)="goSign()"
            >Registrarse</a>
        </div>
    </section>
</div>
<div class="w-full text-center my-5 flex justify-center">
    <h2 class="font-impact text-5xl w-5/6 my-5 flex justify-center">
        <img src="../../../assets/resources/icons8-abajo.gif" class="my-auto mx-7 w-15 h-15 rounded-full shadow-xl">
        Noticias Colombia
        <img src="../../../assets/resources/icons8-abajo.gif" class="my-auto mx-7 w-15 h-15 rounded-full shadow-xl">
    </h2>
</div>
@defer {
    <div class="w-full px py-10 lg:flex lg:flex-row flex-wrap justify-center">
        @for (new of newsColombia.articles; track $index) {
            <div class="max-w-sm m-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{new.author}}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{new.title}}</p>
                <a href="{{new.url}}" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-firstColor hover:bg-black rounded-lg hover: focus:ring-4 focus:outline-none">
                    Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        }
    </div>
}
